In [62]:
import pandas_datareader as pdr
import subprocess

In [46]:
pdr.get_data_yahoo('^TNX')['Open'].head()

Date
2010-01-04    3.859
2010-01-05    3.790
2010-01-06    3.771
2010-01-07    3.845
2010-01-08    3.843
Name: Open, dtype: float64

In [47]:
pdr.get_data_yahoo(['AAPL', 'GOOG'])['Open'].head()

Symbols          AAPL        GOOG
Date
2010-01-04  30.490000  312.304413
2010-01-05  30.657143  312.418976
2010-01-06  30.625713  311.761444
2010-01-07  30.250000  303.562164
2010-01-08  30.042856  294.894653

In [48]:
import pandas as pd
import datetime

ticker_symbols_list = ['AAPL', 'GOOG']
main_df = pd.DataFrame()
start_sp = datetime.datetime(1999, 10, 1)
end_sp = datetime.datetime(2019, 10, 1)

# for symbol in ticker_symbols_list:
#     main_df[symbol] = pdr.get_data_yahoo(ticker_symbols_list, start_sp, end_sp)['Adj Close']

ticker_symbols_list.extend(('SPY', '^TNX'))
main_df = pdr.get_data_yahoo(ticker_symbols_list, start_sp, end_sp)['Adj Close']

In [49]:
main_df.columns

Index(['AAPL', 'GOOG', 'SPY', '^TNX'], dtype='object', name='Symbols')

In [50]:
main_df[['AAPL']].head()

Symbols         AAPL
Date
1999-10-01  1.923671
1999-10-04  2.012305
1999-10-05  2.117498
1999-10-06  2.094123
1999-10-07  2.068798

In [51]:
main_df.head()

Symbols         AAPL  GOOG        SPY   ^TNX
Date
1999-10-01  1.923671   NaN  88.530914  5.986
1999-10-04  2.012305   NaN  90.102982  5.935
1999-10-05  2.117498   NaN  90.016830  6.020
1999-10-06  2.094123   NaN  91.395126  6.033
1999-10-07  2.068798   NaN  90.878220  6.033

In [52]:
main_df.mean()

Symbols
AAPL     52.790223
GOOG    476.600065
SPY     132.530751
^TNX      3.473510
dtype: float64

In [ ]:
aapl_mean = main['AAPL']
goog_mean = main['GOOG']
sp_mean = main['SPY']
tnx_mean =

In [56]:
main = main_df.mean().to_dict()

In [57]:
main

{'AAPL': 52.7902226552157,
 'GOOG': 476.6000654292226,
 'SPY': 132.53075053311474,
 '^TNX': 3.4735097474089858}

52.7902226552157

In [58]:
# Set number of simulations and trading days
# num_simulations = 1000
# num_trading_days = 252 * 3

# tsla_last_price = df['TSLA']['close'][-1]
# sphd_last_price = df['SPHD']['close'][-1]


test = main[-1:]

TypeError: unhashable type: 'slice'

In [59]:
main

{'AAPL': 52.7902226552157,
 'GOOG': 476.6000654292226,
 'SPY': 132.53075053311474,
 '^TNX': 3.4735097474089858}

In [64]:
def plot_data_table_again(final_df):
    tabulated_table = tabulate(final_df, 
        #   headers = ["Category", "Amount"],
          numalign="right",
          floatfmt=".2f",
          tablefmt="pipe")
    return tabulated_table

In [66]:
main_df.head()

Symbols         AAPL  GOOG        SPY   ^TNX
Date
1999-10-01  1.923671   NaN  88.530914  5.986
1999-10-04  2.012305   NaN  90.102982  5.935
1999-10-05  2.117498   NaN  90.016830  6.020
1999-10-06  2.094123   NaN  91.395126  6.033
1999-10-07  2.068798   NaN  90.878220  6.033

In [68]:
returns = main_df.pct_change()

In [69]:
returns.head()

Symbols         AAPL  GOOG       SPY      ^TNX
Date
1999-10-01       NaN   NaN       NaN       NaN
1999-10-04  0.046076   NaN  0.017757 -0.008520
1999-10-05  0.052275   NaN -0.000956  0.014322
1999-10-06 -0.011039   NaN  0.015312  0.002159
1999-10-07 -0.012093   NaN -0.005656  0.000000

In [70]:
mean = returns.mean()

In [72]:
type(mean)

pandas.core.series.Series

In [73]:
mean_returns_series = mean.round(4)*1000

In [75]:
mean_returns_series

Symbols
AAPL    1.3
GOOG    1.0
SPY     0.3
^TNX   -0.1
dtype: float64

In [76]:
main_df.cov()

Symbols          AAPL           GOOG           SPY        ^TNX
Symbols
AAPL      3553.418468   18830.045011   3649.825681  -51.286642
GOOG     18830.045011  105891.559107  20540.990451 -171.583834
SPY       3649.825681   20540.990451   3980.298191  -45.676757
^TNX       -51.286642    -171.583834    -45.676757    1.584412

In [77]:
main_df.var()

Symbols
AAPL      3553.418468
GOOG    105891.559107
SPY       3980.298191
^TNX         1.584412
dtype: float64